

:root{
    --background: linear-gradient(0deg,#fdc322 100%,#ffc444 100%);
    --color-primary:#e37fec;
    --color-secundary:#e37fec;
    --bottom-padding: 20px 40px;

}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1500px;

}

.subtitle{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 0px;
    text-align: center;
}

.subtitle2{

    color: #e37fec;
    font-size: 2.5rem;
    margin-bottom: 0px;
    text-align: center;
}

.subtitle3{

    color: #e37fec;
    font-size: 2.5rem;
    margin-bottom: 0px;
    text-align: center;
}




.hero{
    height: 100vh;
    background-image:url(img/Imagen3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.hero .container{
    padding: 0;

}

.nav{
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;

}

.nav--footer{
    font-weight: 300;
    justify-content: flex-start;

}

.nav_items{
    color: #7C96DE;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}

.nav_items--cta{
    border: 1px solid #95F5D5;
}

nav_items--cta{
    border: 1px solid #e37fec;
}
    nav_items--cta{
        border: 1px solid #95F5D5;
    }       


.nav_items--footer{

    padding: 10px;

}

.hero_container{
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
    color:#e37fec;

}

.hero_texts{
    width: 80%;
    margin-bottom: 50px;
}

.hero_title{
    font-size: 3.2rem;
    color: #e37fec(117, 86, 0);
}

.hero_las{
    font-size: 3.2rem;
    color: #7C96DE ;
}

.hero_subtitle{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px;
}

.hero_cta{
    display: inline-block;
    background-color: #95F5D5;
    padding: var(--bottom-padding);
    color: #7C96DE;
    text-decoration: none;
    border-radius: 40px;

}
.hero_wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
}




.Kius{
    padding: 6%;
    text-align: center;

}

.Kius_copy{
    font-size: 1.5rem;
    margin: 0 auto;
    width: 100%;
    line-height: 150%;
    color: #7C96DE;
}

.Kius_cta{
    display: inline-block;
    margin-top: 12px;
    background: #431e0be3;
    color: ghostwhite;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 40px;
}


.about{
    padding: 0%;
    min-height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

}

.about_img{
    text-align: center;

}

.about_picture{
    max-width: 100%;
}

.about_paragraph{
    margin-bottom: 5px;
    line-height: 1.5;
    font-weight: 300;
    font-size: 1.4rem;
    text-align: left;
    color: #7C96DE ;
}

.about2{
    min-height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
    justify-items: center;
    align-items: center;
}

.about2_img{
    text-align: left;
}

.about2_picture{
    max-width: 100%;
}

.about3{
    min-height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0;
    justify-items: center;
    align-items: center;
}

.about3_img{
    text-align: left;
}

.about3_picture{
    max-width: 100%;
}

*{
    box-sizing: border-box;

}
img{
    width: 400px;
}

.row{

    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}

.column{
    flex: 25px;
    padding: 5px;
}

.column img{
    margin-top: 5px;

}
    .animacion-imagen {
        position: relative;
        animation: desplazamiento 5s linear infinite;
      }
      @keyframes desplazamiento {
        0% {
          left: 7%;
        }
        100% {
          left: 7%;
        }
      }

  /* Estilos para el menú desplegable */
  #menu {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #333;
    width: 200px;
}

/* Estilos para las opciones del menú */
#menu option {
    background-color: #f1f1f1;
    color: #333;
}

/* Estilos para el botón del menú */
#menu-button {
    padding: 12px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para el botón del menú al pasar el cursor sobre él */
#menu-button:hover {
    background-color: #45a049;
}