/* Sección Catalogo
   ========================= */
section#catalogo {
    text-align: center;
    margin: 20px 0px;
}

/* Articulos
   ========================= */
article{
    display: inline-block;
    width: 23%;
    min-width: 200px;
    padding: 20px 10px;
    box-sizing: border-box;
    margin: 20px 10px;
    background-color: white;
    border-radius: 33px;
    border-style: none;
}
article > h3 {
    font-family: 'Ubuntu';
    font-weight: bold;
    color: #3f1f18;
}
.imgProduct {
    width: 80%;
    height: 250px;
}
.precioFinal {
    font-size: 2em;
    color: #3f1f18;
    font-weight: bold;
}
article > button {
    padding: 10px 20px;
    background-color: #603725;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    border-style: none;
}