@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

body {
    background-color: black;
    font-family: 'Oxygen', sans-serif;
    padding: 0;
    margin: 0;
}

.contenedor {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor form{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 840px;
    padding: 40px;
    border-radius: 20px;
}

.field {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 5px;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.button {
    width: 140px;
    border-radius: 15px;
    margin-top: 10px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .form {
        width: 100%;
        padding: 20px;
    }
}
