@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
body{
    background-color: antiquewhite;
}

main{
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    background-color: #F2E2CE;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.imagenpro{
    height: 100%;
    background-color: white;
    display: flex;
    position: static;
    justify-content: center;
    align-items: start;
    width: 40%;
    padding-top: 140px;
}
.imagenpro img{
    width: 500px;
    object-fit: contain;
}
.detalles{
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    padding: 80px;
    width: 40%;
}
.comprar{
    background-color: #000;
    color: white;
    border-radius: 20px;
    border: none;
    width: 300px;
    font-size: 14px;
    cursor: pointer;
    padding: 1rem;
}
.detalles .descripcion p{
    width: 400px;
}
.detalles .nombre h4{
    font-weight: bolder;
    font-size: 24px;
}